body{
    background-color: rgb(240, 240, 240);
    padding-top: 70px;
    color: rgb(88, 88, 88);
    font-size: 1.7em;
}
.navbar-default{
    background-color: #343a40;
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-header > a{
    color: rgb(224, 220, 220);
}
.navbar-default .navbar-nav > li > a:hover{
    color: rgb(80, 80, 80);
}
.home{
    margin-bottom: 100px;
}
.title{
    text-align: center; 
    color: rgb(51, 51, 51);
}
.deal{
    background-color: white; 
    border: 1px solid rgb(192, 192, 192); 
    margin-bottom: 10px;
}
.link-deal{
    padding: 0px;
}
.img-deal{
    margin-bottom: 10px; 
    margin-top: 10px;
}
footer{
    background-color: #b6b6b6;
    border: 1px solid rgb(163, 163, 163);
    height: 70px;
    text-align: center;
    justify-content: center;
}
.footer-contact{
    padding-top: 20px;
}
