{% extends 'base.html' %}

{% block head %}
  <div>
    <h2>Messages received</h2>
    <hr>
  </div>
{% endblock %}

{% block content %}
  {% for message in msgs %}
    <p class="col-xs-12" style="border: 1px solid rgb(221, 221, 221); background-color: rgb(236, 236, 236); border-radius: 5px; padding: 15px">
      <a href="{% url 'users:profile' message.sender.username %}">
        {{ message.sender.username }}
      </a>
      says on {{ message.timestamp }}:<br>{{ message.body }}
    </p>
  {% empty %}
    <p>You have no message yet.</p>
  {% endfor %}
{% endblock %}