{% extends 'base.html' %}

{% block head %}
  <div>
    <h2>List of all your requests</h2>
    <hr>
  </div>
{% endblock %}

{% block content %}
<section class="table-responsive">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>User</th>
        <th>car</th>
        <th>Reserved on</th>
        <th>Check in</th>
        <th>Check out</th>
        <th>Accept reservation?</th>
      </tr>
    </thead>
    <tbody>
      {% for req in user_requests %}
        <tr>
          <td><a href="{% url 'users:profile' req.user_reserve.username %}">{{ req.user_reserve.username }}</a></td>
          <td>{{ req.deal.name }}</td>
          <td>{{ req.reserved_on }}</td>
          <td>{{ req.check_in }}</td>
          <td>{{ req.check_out }}</td>
          <td>
            {% if req.canceled == False and req.accepted == False and req.requested == True %}
              <a class="btn btn-primary btn-sm" href="{% url 'booking:user_requests' %}?accept=True&id_deal={{ req.deal.id }}">Yes</a>
              <a class="btn btn-danger btn-sm" href="{% url 'booking:user_requests' %}?accept=False&id_deal={{ req.deal.id }}">No</a>
            {% elif req.canceled == False and req.accepted == True and req.requested == False %}
              Accepted
            {% elif req.canceled == False and req.accepted == False and req.requested == False %}
              Refused
            {% elif req.canceled == True and req.accepted == False and req.requested == False %}
              Canceled
            {% endif %} 
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endblock %}