{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block content %}
  {% for car in user_cars %}
      <div class="row">
        <a class="col-sm-4 col-xs-8 link-deal" href="#">
          <img class="col-xs-12 img-deal" src="{{ car.car_picture.url }}" alt="{{ car.name }}" />
        </a>
        
        <div class="col-sm-8 col-xs-12">
          <div class="row" style="margin-top: 10px;">
            <p class="col-xs-12">
              <a class="btn btn-primary btn-md" href="{% url 'booking:update_deal' car.id %}">Update</a>
              <a class="btn btn-danger btn-md" href="{% url 'booking:delete_deal' car.id %}">Delete</a>
            </p>
            <p class="col-xs-12">
              <a href="{% url 'users:profile' car.user.username %}">{{ car.user.username }}</a>
              {{ car.location }}
            </p>
            <p class="col-xs-12 hidden-xs">Created on : {{ car.created_at }}</p>
            <p class="col-xs-12">Energie: {{ car.fuel }}, Mileage: {{ car.mileage }} km, Price {{ car.price }} €</p>
            <p class="col-xs-12">{{ car.description }}</p>
          </div>
        </div>
      </div>
      <hr style="border: 1px solid grey;"/>
  {% empty %}
  <div class="row">
    <p class="col-xs-12" style="height: 150px; margin-top: 50px">No car currently listed.</p>
  </div>
  {% endfor %}
{% endblock %}